[Unit]
Description=Cobbleverse Minecraft Server
After=network.target

[Service]
Type=simple
User=opc
WorkingDirectory=/home/opc/minecraft
ExecStart=/bin/bash /home/opc/minecraft/start.sh
Restart=on-failure
RestartSec=10
SuccessExitStatus=0 143

[Install]
WantedBy=multi-user.target
