DATA_API_HOST=0.0.0.0
DATA_API_PORT=8765
DATA_API_TOKEN=change-me-generate-random
MINECRAFT_SERVER_ROOT=/home/opc/minecraft
LEVEL_NAME=world
BADGE_ITEM_MATCH=cobbleversebadges:
LAUNCHER_DOWNLOAD_DIR=/home/opc/minecraft/tools/downloads
